<form action="">

  <div class="form-group">
    <label for="studentId">Student Id</label>
    <input type="text" class="form-control" id="studentId">
  </div>

  <div class="form-group">
    <label for="courseOffering">Course Offering Id</label>
    <input type="text" class="form-control" id="courseOffering">
  </div>

  <div class="form-group">
    <label for="agreeToParticipate">Agree to Participate</label>
    <input type="checkbox" class="form-control" id="agreeToParticipate">
  </div>
  <div class="form-group">
    <label for="agreeToPay">Agree to Pay</label>
    <input type="checkbox" class="form-control" id="agreeToPay">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount">
  </div>
  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea id="comments"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-success">REgister For This Course</button>
  </div>
</form>
