.header {
  background-color: black;
  color: white;
  padding: 15px;
  height: 13em;
  text-align: center;
  margin-bottom: 5em;
  box-shadow: black 0px 0px 16px;
}


.header.title{
  font-size: 3em;
  font-weight: bold;
}

.header .subheading{
  font-size: 2em;
  text-transform: uppercase;
}
