
<ul>
  <li class="card" *ngFor="let course of model$ | async">
    <div class="card-header">
      {{course.title}}
    </div>
    <div class="card-body">
      <div>
        {{course.description}}
      </div>
      <div>
        This is a {{course.numberOfDays}} day course
      </div>
    </div>
    <div class="card-footer">
      <a [routerLink]="['..', course.id, 'offerings']" *ngIf="course.hasOfferings">
        <app-link-button btnStyle="primary">See When This Course Is Offered</app-link-button>
      </a>
      <p *ngIf="!course.hasOfferings" class="alert alert-info">
        No Offerings for this Course
      </p>
    </div>
  </li>

</ul>
