<ul>
  <li class="card">
    <div class="card-header">
      Angular State Management
    </div>
    <div class="card-body">
      <div>
        This course teaches you how to build stateful application using Angular.
      </div>
      <div>
        This is a 3 day course.
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-sm btn-success">See When This Course Is Offered</a>
    </div>
  </li>
  <li class="card">
    <div class="card-header">
      Event Driven Services
    </div>
    <div class="card-body">
      <div>
        This course teaches you how to build stateful application using Angular.
      </div>
      <div>
        This is a 3 day course.
      </div>
    </div>
    <div class="card-footer">
      <p class="alert alert-info">This course has no upcoming offerings</p>
    </div>
  </li>
</ul>
